<div class="card my-3 mx-md-5 mx-2 rounded-4">
  
  <div class="contenedor-imagen rounded-4 mb-4">
    <img [src]="miPortafolio.backImage" class="card-img-top portada" alt="card-img-top">
  </div>
  
  <img class="imagen-perfil" [src]="miPortafolio.image" alt="foto perfil">
  <fa-icon class="col-1 fapen-header" [icon]="faPen"></fa-icon>
  
  <div class="card-body mt-5">
    <h5 class="card-title h2">{{miPortafolio.name}}</h5>
    <p class="card-text m-0">{{miPortafolio.position}} En {{miPortafolio.company.name}}</p>
    <p class="card-text">{{miPortafolio.ubication}}</p>
    <button class="btn btn-primary">Tengo interés en</button>
    <button class="btn btn-light mx-3">Añadir Sección</button>
    <button class="btn btn-light">Más</button>
  </div>
  
</div>