/* You can add global styles to this file, and also import other style files */

fa-icon{
    color: #575757;
    font-size: 1.125rem;
    padding: .5rem;
    border-radius: 100%;
}
fa-icon:hover{
    cursor: pointer;
    background: #f4f4f4;
}
body{
    background:#f3f2ef;
}